.alert.alert-warning
  %h4
    太多修改。
    .pull-right
      - unless diff_hard_limit_enabled?
        = link_to "重新载入完整差异", url_for(params.merge(force_show_diff: true)), class: "btn btn-sm btn-warning"

      - if current_controller?(:commit) or current_controller?(:merge_requests)
        - if current_controller?(:commit)
          = link_to "原始差异文件", namespace_project_commit_path(@project.namespace, @project, @commit, format: :diff), class: "btn btn-warning btn-sm"
          = link_to "电子邮件补丁", namespace_project_commit_path(@project.namespace, @project, @commit, format: :patch), class: "btn btn-warning btn-sm"
        - elsif @merge_request && @merge_request.persisted?
          = link_to "原始差异文件", merge_request_path(@merge_request, format: :diff), class: "btn btn-warning btn-sm"
          = link_to "电子邮件补丁", merge_request_path(@merge_request, format: :patch), class: "btn btn-warning btn-sm"
  %p
    为保证性能只显示
    %strong #{shown_files_count} of #{diffs.size}
    个文件。

