%h3.page-title
  = @service.title
  = boolean_to_icon @service.activated?

%p= @service.description

.back-link
  = link_to namespace_project_services_path(@project.namespace, @project) do
    &larr; 返回服务

%hr

= form_for(@service, as: :service, url: namespace_project_service_path(@project.namespace, @project, @service.to_param), method: :put, html: { class: 'form-horizontal' }) do |form|
  = render 'shared/service_settings', form: form

  .form-actions
    = form.submit '保存', class: 'btn btn-save'
    &nbsp;
    - if @service.valid? && @service.activated?
      - disabled = @service.can_test? ? '':'disabled'
      = link_to '测试设置', test_namespace_project_service_path(@project.namespace, @project, @service.to_param), class: "btn #{disabled}"
