- page_title "部署密钥"
.panel.panel-default
  .panel-heading
    公开的部署密钥 (#{@deploy_keys.count})
    .panel-head-actions
      = link_to '新部署密钥', new_admin_deploy_key_path, class: "btn btn-new btn-sm"
  - if @deploy_keys.any?
    %table.table
      %thead.panel-heading
        %tr
          %th 标题
          %th 指纹
          %th 增加时间
          %th
      %tbody
        - @deploy_keys.each do |deploy_key|
          %tr
            %td
              = link_to admin_deploy_key_path(deploy_key) do
                %strong= deploy_key.title
            %td
              %code.key-fingerprint= deploy_key.fingerprint
            %td
              %span.cgray
                added #{time_ago_with_tooltip(deploy_key.created_at)}
            %td
              = link_to '删除', admin_deploy_key_path(deploy_key), data: { confirm: '确定要继续么？'}, method: :delete, class: "btn btn-sm btn-remove delete-key pull-right"
