- page_title "邀请"
%h3.page-title 邀请

%p
  您被
  - if inviter = @member.created_by
    = link_to inviter.name, user_url(inviter)
  邀请加入 
  - case @member.source
  - when Project
    - project = @member.source
    项目
    %strong
      = link_to project.name_with_namespace, namespace_project_url(project.namespace, project)
  - when Group
    - group = @member.source
    群组
    %strong
      = link_to group.name, group_url(group)
  ，身份是 #{@member.human_access}。

- if @member.source.users.include?(current_user)
  %p
    注意，您已经是该#{@member.source.is_a?(Group) ? "群组" : "项目"}的成员。
    请使用另一个账号登入再接受邀请。
- else
  .actions
    = link_to "接受邀请", accept_invite_url(@token), method: :post, class: "btn btn-success"
    = link_to "拒绝", decline_invite_url(@token), method: :post, class: "btn btn-danger prepend-left-10"
