- page_title "问题"
= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, issues_dashboard_url(format: :atom, private_token: current_user.private_token), title: "#{current_user.name} 问题")

%h3.page-title
  问题

%p.light
  所有能访问项目的问题列表。
%hr

.append-bottom-20
  .pull-right
    - if current_user
      .hidden-xs.pull-left
        = link_to issues_dashboard_url(format: :atom, private_token: current_user.private_token), class: 'btn' do
          %i.fa.fa-rss

  = render 'shared/issuable_filter', type: :issues
= render 'shared/issues'
