- page_title "应用"
%h3.page-title
  = page_title
%p.light
  - if user_oauth_applications?
    管理使用 GitLab 作为 OAuth 提供者的应用，
    和授权使用你的账户的应用。
  - else
    管理授权使用你的账户的应用。
%hr

- if user_oauth_applications?
  .oauth-applications
    %h3
      应用
      .pull-right
        = link_to '新应用', new_oauth_application_path, class: 'btn btn-success'
    - if @applications.any?
      %table.table.table-striped
        %thead
          %tr
            %th 名称
            %th 回调链接
            %th 客户端
            %th
            %th
        %tbody
          - @applications.each do |application|
            %tr{:id => "application_#{application.id}"}
              %td= link_to application.name, oauth_application_path(application)
              %td
                - application.redirect_uri.split.each do |uri|
                  %div= uri
              %td= application.access_tokens.count
              %td= link_to '编辑', edit_oauth_application_path(application), class: 'btn btn-link btn-sm'
              %td= render 'doorkeeper/applications/delete_form', application: application

.oauth-authorized-applications.prepend-top-20
  - if user_oauth_applications?
    %h3
      已认证应用

  - if @authorized_tokens.any?
    %table.table.table-striped
      %thead
        %tr
          %th 名称
          %th 认证时间
          %th 范围
          %th
      %tbody
        - @authorized_apps.each do |app|
          - token = app.authorized_tokens.order('created_at desc').first
          %tr{:id => "application_#{app.id}"}
            %td= app.name
            %td= token.created_at
            %td= token.scopes
            %td= render 'doorkeeper/authorized_applications/delete_form', application: app
        - @authorized_anonymous_tokens.each do |token|
          %tr
            %td
              匿名
              %div.help-block
                %em 获准在此应用程序中输入您的用户名和密码的授权。
            %td= token.created_at
            %td= token.scopes
            %td= render 'doorkeeper/authorized_applications/delete_form', token: token
  - else
    %p.light 没有认证任何应用
