- page_title "派生项目"
%h3.page-title 派生项目
%p.lead
  选择派生此项目的命名空间
%hr

.fork-namespaces
  - @namespaces.in_groups_of(6, false) do |group|
    .row
      - group.each do |namespace|
        .col-md-2.col-sm-3
          - if fork = namespace.find_fork_of(@project)
            .thumbnail.fork-exists-thumbnail
              = link_to project_path(fork), title: "查看项目派生", class: 'has_tooltip' do
                = image_tag namespace_icon(namespace, 200)
                .caption
                  %h4=namespace.human_name
                  %p
                    = namespace.path
          - else
            .thumbnail.fork-thumbnail
              = link_to namespace_project_fork_path(@project.namespace, @project, namespace_key: namespace.id), title: "派生", method: "POST", class: 'has_tooltip' do
                = image_tag namespace_icon(namespace, 200)
                .caption
                  %h4=namespace.human_name
                  %p
                    = namespace.path

  %p.light
    派生是创建项目仓库的副本。
    %br
    派生的仓库允许你在不影响原有项目的情况下修改新内容。

.save-project-loader.hide
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在派生仓库
    %p 请稍后，本页面将在准备好后自动刷新。

