- page_title "提交", @ref
= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_commits_url(@project.namespace, @project, @ref, format: :atom, private_token: current_user.private_token), title: "#{@project.name}:#{@ref} 提交")

= render "head"

.tree-ref-holder
  = render 'shared/ref_switcher', destination: 'commits'

.commits-feed-holder.hidden-xs.hidden-sm
  - if create_mr_button?(@repository.root_ref, @ref)
    = link_to create_mr_path(@repository.root_ref, @ref), class: 'btn btn-success' do
      = icon('plus')
      创建合并请求

  - if current_user && current_user.private_token
    = link_to namespace_project_commits_path(@project.namespace, @project, @ref, {format: :atom, private_token: current_user.private_token}), title: "动态", class: 'prepend-left-10 btn' do
      = icon("rss")
      提交动态


%ul.breadcrumb.repo-breadcrumb
  = commits_breadcrumbs

%div{id: dom_id(@project)}
  #commits-list= render "commits", project: @project
.clear
= spinner

- if @commits.count == @limit
  :javascript
    CommitsList.init("#{@ref}", #{@limit});

