.dropdown.inline
  %button.dropdown-toggle.btn.btn{type: 'button', 'data-toggle' => 'dropdown'}
    %i.fa.fa-tags
    %span.light 群组：
    - if @group.present?
      %strong= @group.name
    - else
      任何
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to search_filter_path(group_id: nil) do
        任何
    - current_user.authorized_groups.sort_by(&:name).each do |group|
      %li
        = link_to search_filter_path(group_id: group.id, project_id: nil) do
          = group.name

.dropdown.inline.prepend-left-10.project-filter
  %button.dropdown-toggle.btn.btn{type: 'button', 'data-toggle' => 'dropdown'}
    %i.fa.fa-tags
    %span.light 项目：
    - if @project.present?
      %strong= @project.name_with_namespace
    - else
      任何
    %b.caret
  %ul.dropdown-menu
    %li
      = link_to search_filter_path(project_id: nil) do
        任何
    - current_user.authorized_projects.sort_by(&:name_with_namespace).each do |project|
      %li
        = link_to search_filter_path(project_id: project.id, group_id: nil) do
          = project.name_with_namespace
