= form_tag search_path, method: :get, class: 'form-inline' do |f|
  = hidden_field_tag :project_id, params[:project_id]
  = hidden_field_tag :group_id, params[:group_id]
  = hidden_field_tag :snippets, params[:snippets]
  = hidden_field_tag :scope, params[:scope]
  .search-holder.clearfix
    .form-group
      = search_field_tag :search, params[:search], placeholder: "搜索项目、问题等", class: "form-control search-text-input", id: "dashboard_search", autofocus: true
      = button_tag '搜索', class: "btn btn-primary"
    - unless params[:snippets].eql? 'true'
      .pull-right
        = render 'filter'
