- if @search_results.empty?
  = render partial: "search/results/empty"
- else
  .light
    在
    %code
      = @search_term
    - unless @show_snippets
      - if @project
        项目 #{link_to @project.name_with_namespace, [@project.namespace.becomes(Namespace), @project]}
      - elsif @group
        群组 #{link_to @group.name, @group}
    搜索结果

  %br
  .results.prepend-top-10
    .search-results
      = render partial: "search/results/#{@scope.singularize}", collection: @objects
      = paginate @objects, theme: 'gitlab'

:javascript
  $(".search-results .term").highlight("#{escape_javascript(params[:search])}");
