%p
  %span.light
    登入 &nbsp;
  - providers = additional_providers
  - providers.each do |provider|
    %span.light
      - if default_providers.include?(provider)
        = link_to oauth_image_tag(provider), omniauth_authorize_path(resource_name, provider), method: :post, class: 'oauth-image-link'
      - else
        = link_to provider.to_s.titleize, omniauth_authorize_path(resource_name, provider), method: :post, class: "btn", "data-no-turbolink" => "true"
