.login-box
  - if signin_enabled?
    .login-heading
      %h3 新用户？创建账号
  - else
    .login-heading
      %h3 创建账号
  .login-body
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .devise-errors
        = devise_error_messages!
      %div
        = f.text_field :name, class: "form-control top", placeholder: "姓名", required: true
      %div
        = f.text_field :username, class: "form-control middle", placeholder: "用户名", required: true
      %div
        = f.email_field :email, class: "form-control middle", placeholder: "电子邮箱", required: true
      .form-group.append-bottom-20#password-strength
        = f.password_field :password, class: "form-control bottom", id: "user_password_sign_up", placeholder: "密码", required: true
      %div
        = f.submit "注册", class: "btn-create btn"

.clearfix.prepend-top-20
  %p
    %span.light 没有收到确认邮件？
    = succeed '。' do
      = link_to "请求新的", new_confirmation_path(resource_name)
