%li
  %h4.snippet-title
    = link_to reliable_snippet_path(snippet) do
      = truncate(snippet.title, length: 60)
      - if snippet.private?
        %span.label.label-gray
          %i.fa.fa-lock
          私有
    %span.cgray.monospace.tiny.pull-right
      = snippet.file_name

  %small.pull-right.cgray
    - if snippet.project_id?
      = link_to snippet.project.name_with_namespace, namespace_project_path(snippet.project.namespace, snippet.project)

  .snippet-info
    = "##{snippet.id}"
    %span
      属于
      = link_to user_snippets_path(snippet.author) do
        = image_tag avatar_icon(snippet.author_email), class: "avatar avatar-inline s16", alt: ''
        = snippet.author_name
      %span.light #{time_ago_with_tooltip(snippet.created_at)}
