%ul.nav.nav-sidebar
  = nav_link(path: ['dashboard#show', 'root#show'], html_options: {class: 'home'}) do
    = link_to dashboard_path, title: '主页', class: 'shortcuts-activity', data: {placement: 'right'} do
      = icon('dashboard fw')
      %span
        项目
  = nav_link(path: 'projects#starred') do
    = link_to starred_dashboard_projects_path, title: '标记的项目', data: {placement: 'right'} do
      = icon('star fw')
      %span
        标记的项目
  = nav_link(controller: :groups) do
    = link_to dashboard_groups_path, title: '群组', data: {placement: 'right'} do
      = icon('group fw')
      %span
        群组
  = nav_link(controller: :milestones) do
    = link_to dashboard_milestones_path, title: '里程碑', data: {placement: 'right'} do
      = icon('clock-o fw')
      %span
        里程碑
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, title: '问题', class: 'shortcuts-issues', data: {placement: 'right'} do
      = icon('exclamation-circle fw')
      %span
        问题
        %span.count= current_user.assigned_issues.opened.count
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to assigned_mrs_dashboard_path, title: '合并请求', class: 'shortcuts-merge_requests', data: {placement: 'right'} do
      = icon('tasks fw')
      %span
        合并请求
        %span.count= current_user.assigned_merge_requests.opened.count
  = nav_link(controller: :help) do
    = link_to help_path, title: '帮助', data: {placement: 'right'} do
      = icon('question-circle fw')
      %span
        帮助
