%ul.nav.nav-sidebar
  = nav_link(path: 'groups#show', html_options: {class: 'home'}) do
    = link_to group_path(@group), title: '主页', data: {placement: 'right'} do
      = icon('dashboard fw')
      %span
        活动
  - if current_user
    = nav_link(controller: [:group, :milestones]) do
      = link_to group_milestones_path(@group), title: '里程碑', data: {placement: 'right'} do
        = icon('clock-o fw')
        %span
          里程碑
  = nav_link(path: 'groups#issues') do
    = link_to issues_group_path(@group), title: '问题', data: {placement: 'right'} do
      = icon('exclamation-circle fw')
      %span
        问题
        - if current_user
          %span.count= Issue.opened.of_group(@group).count
  = nav_link(path: 'groups#merge_requests') do
    = link_to merge_requests_group_path(@group), title: '合并请求', data: {placement: 'right'} do
      = icon('tasks fw')
      %span
        合并请求
        - if current_user
          %span.count= MergeRequest.opened.of_group(@group).count
  = nav_link(controller: [:group_members]) do
    = link_to group_group_members_path(@group), title: '成员', data: {placement: 'right'} do
      = icon('users fw')
      %span
        成员

  - if can?(current_user, :admin_group, @group)
    = nav_link(html_options: { class: "#{"active" if group_settings_page?} separate-item" }) do
      = link_to edit_group_path(@group), title: '设置', class: 'tab no-highlight', data: {placement: 'right'} do
        = icon ('cogs fw')
        %span
          设置
          = icon ('angle-down fw')

  - if group_settings_page?
    %ul.sidebar-subnav
      = nav_link(path: 'groups#edit') do
        = link_to edit_group_path(@group), title: '群组', data: {placement: 'right'} do
          = icon('pencil-square-o')
          %span
            群组设置
      = nav_link(path: 'groups#projects') do
        = link_to projects_group_path(@group), title: '项目', data: {placement: 'right'} do
          = icon('folder')
          %span
            项目

