%ul.project-navigation.nav.nav-sidebar
  = nav_link do
    = link_to project_path(@project), title: '返回到项目', data: {placement: 'right'} do
      = icon('caret-square-o-left fw')
      %span
        返回到项目

  %li.separate-item

  %ul.project-settings-nav.sidebar-subnav
    = nav_link(path: 'projects#edit') do
      = link_to edit_project_path(@project), title: '项目', class: 'stat-tab tab', data: {placement: 'right'} do
        = icon('pencil-square-o fw')
        %span
          项目设置
    = nav_link(controller: :deploy_keys) do
      = link_to namespace_project_deploy_keys_path(@project.namespace, @project), title: '部署密钥', data: {placement: 'right'} do
        = icon('key fw')
        %span
          部署密钥
    = nav_link(controller: :hooks) do
      = link_to namespace_project_hooks_path(@project.namespace, @project), title: 'Web 钩子', data: {placement: 'right'} do
        = icon('link fw')
        %span
          Web 钩子
    = nav_link(controller: :services) do
      = link_to namespace_project_services_path(@project.namespace, @project), title: '服务', data: {placement: 'right'} do
        = icon('cogs fw')
        %span
          服务
    = nav_link(controller: :protected_branches) do
      = link_to namespace_project_protected_branches_path(@project.namespace, @project), title: '保护分支', data: {placement: 'right'} do
        = icon('lock fw')
        %span
          保护分支

