%ul.nav.nav-sidebar
  = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
    = link_to profile_path, title: '个人资料', data: {placement: 'right'} do
      = icon('user fw')
      %span
        个人资料
  = nav_link(controller: [:accounts, :two_factor_auths]) do
    = link_to profile_account_path, title: '账号', data: {placement: 'right'} do
      = icon('gear fw')
      %span
        账号
  = nav_link(path: ['profiles#applications', 'applications#edit', 'applications#show', 'applications#new']) do
    = link_to applications_profile_path, title: '应用', data: {placement: 'right'} do
      = icon('cloud fw')
      %span
        应用
  = nav_link(controller: :emails) do
    = link_to profile_emails_path, title: '电子邮箱', data: {placement: 'right'} do
      = icon('envelope-o fw')
      %span
        电子邮箱
        %span.count= current_user.emails.count + 1
  - unless current_user.ldap_user?
    = nav_link(controller: :passwords) do
      = link_to edit_profile_password_path, title: '密码', data: {placement: 'right'} do
        = icon('lock fw')
        %span
          密码
  = nav_link(controller: :notifications) do
    = link_to profile_notifications_path, title: '通知', data: {placement: 'right'} do
      = icon('inbox fw')
      %span
        通知

  = nav_link(controller: :keys) do
    = link_to profile_keys_path, title: 'SSH 密钥', data: {placement: 'right'} do
      = icon('key fw')
      %span
        SSH 密钥
        %span.count= current_user.keys.count
  = nav_link(controller: :preferences) do
    = link_to profile_preferences_path, title: '偏好设置', data: {placement: 'right'} do
      -# TODO (rspeicher): Better icon?
      = icon('image fw')
      %span
        偏好设置
  = nav_link(path: 'profiles#history') do
    = link_to history_profile_path, title: '历史', data: {placement: 'right'} do
      = icon('history fw')
      %span
        历史
