%ul.project-navigation.nav.nav-sidebar
  = nav_link(path: 'projects#show', html_options: {class: 'home'}) do
    = link_to project_path(@project), title: '项目', class: 'shortcuts-project', data: {placement: 'right'} do
      = icon('dashboard fw')
      %span
        项目
  - if project_nav_tab? :files
    = nav_link(controller: %w(tree blob blame edit_tree new_tree)) do
      = link_to namespace_project_tree_path(@project.namespace, @project, @ref || @repository.root_ref), title: '文件',  class: 'shortcuts-tree', data: {placement: 'right'} do
        = icon('files-o fw')
        %span
          文件

  - if project_nav_tab? :commits
    = nav_link(controller: %w(commit commits compare repositories tags branches)) do
      = link_to namespace_project_commits_path(@project.namespace, @project, @ref || @repository.root_ref), title: '提交', class: 'shortcuts-commits', data: {placement: 'right'} do
        = icon('history fw')
        %span
          提交

  - if project_nav_tab? :network
    = nav_link(controller: %w(network)) do
      = link_to namespace_project_network_path(@project.namespace, @project, @ref || @repository.root_ref), title: '网络', class: 'shortcuts-network', data: {placement: 'right'} do
        = icon('code-fork fw')
        %span
          网络

  - if project_nav_tab? :graphs
    = nav_link(controller: %w(graphs)) do
      = link_to namespace_project_graph_path(@project.namespace, @project, @ref || @repository.root_ref), title: '图表',  class: 'shortcuts-graphs', data: {placement: 'right'} do
        = icon('area-chart fw')
        %span
          图表

  - if project_nav_tab? :milestones
    = nav_link(controller: :milestones) do
      = link_to namespace_project_milestones_path(@project.namespace, @project), title: '里程碑', data: {placement: 'right'} do
        = icon('clock-o fw')
        %span
          里程碑

  - if project_nav_tab? :issues
    = nav_link(controller: :issues) do
      = link_to url_for_project_issues(@project, only_path: true), title: '问题', class: 'shortcuts-issues', data: {placement: 'right'} do
        = icon('exclamation-circle fw')
        %span
          问题
          - if @project.default_issues_tracker?
            %span.count.issue_counter= @project.issues.opened.count

  - if project_nav_tab? :merge_requests
    = nav_link(controller: :merge_requests) do
      = link_to namespace_project_merge_requests_path(@project.namespace, @project), title: '合并请求', class: 'shortcuts-merge_requests', data: {placement: 'right'} do
        = icon('tasks fw')
        %span
          合并请求
          %span.count.merge_counter= @project.merge_requests.opened.count

  - if project_nav_tab? :settings
    = nav_link(controller: [:project_members, :teams]) do
      = link_to namespace_project_project_members_path(@project.namespace, @project), title: '成员', class: 'team-tab tab', data: {placement: 'right'} do
        = icon('users fw')
        %span
          成员

  - if project_nav_tab? :labels
    = nav_link(controller: :labels) do
      = link_to namespace_project_labels_path(@project.namespace, @project), title: '标签', data: {placement: 'right'} do
        = icon('tags fw')
        %span
          标签

  - if project_nav_tab? :wiki
    = nav_link(controller: :wikis) do
      = link_to get_project_wiki_path(@project), title: '维基', class: 'shortcuts-wiki', data: {placement: 'right'} do
        = icon('book fw')
        %span
          维基

  - if project_nav_tab? :snippets
    = nav_link(controller: :snippets) do
      = link_to namespace_project_snippets_path(@project.namespace, @project), title: '代码片段', class: 'shortcuts-snippets', data: {placement: 'right'} do
        = icon('file-text-o fw')
        %span
          代码片段

  - if project_nav_tab? :settings
    = nav_link(html_options: {class: "#{project_tab_class} separate-item"}) do
      = link_to edit_project_path(@project), title: '设置', class: 'stat-tab tab no-highlight', data: {placement: 'right'} do
        = icon('cogs fw')
        %span
          设置
