%ul.nav.nav-sidebar
  - if current_user
    = nav_link(path: user_snippets_path(current_user), html_options: {class: 'home'}) do
      = link_to user_snippets_path(current_user), title: '代码片段', data: {placement: 'right'} do
        = icon('dashboard fw')
        %span
          代码片段
  = nav_link(path: snippets_path) do
    = link_to snippets_path, title: '探索代码片段', data: {placement: 'right'} do
      = icon('globe fw')
      %span
        探索代码片段
