- page_title '偏好设置'
%h3.page-title
  = page_title
%p.light
  此设置允许自定义本站点的外观和行为。
  设置会保存在个人资料中并在所有设备上生效。
%hr

= form_for @user, url: profile_preferences_path, remote: true, method: :put, html: {class: 'js-preferences-form form-horizontal'} do |f|
  .panel.panel-default.application-theme
    .panel-heading
      程序主题
    .panel-body
      .themes_opts
        = label_tag do
          .prev.default
          = f.radio_button :theme_id, 1
          石墨色

        = label_tag do
          .prev.classic
          = f.radio_button :theme_id, 2
          炭黑色

        = label_tag do
          .prev.modern
          = f.radio_button :theme_id, 3
          绿色

        = label_tag do
          .prev.gray
          = f.radio_button :theme_id, 4
          灰色

        = label_tag do
          .prev.violet
          = f.radio_button :theme_id, 5
          紫色

        = label_tag do
          .prev.blue
          = f.radio_button :theme_id, 6
          蓝色
      %br
      .clearfix

  .panel.panel-default.code-preview-theme
    .panel-heading
      代码预览主题
    .panel-body
      .code_highlight_opts
        - color_schemes.each do |color_scheme_id, color_scheme|
          = label_tag do
            .prev= image_tag "#{color_scheme}-scheme-preview.png"
            = f.radio_button :color_scheme_id, color_scheme_id
            = color_scheme.tr('-_', ' ').titleize

  .panel.panel-default
    .panel-heading
      行为
    .panel-body
      .form-group
        = f.label :dashboard, class: 'control-label' do
          默认仪表盘
          = link_to('(?)', help_page_path('profile', 'preferences') + '#default-dashboard', target: '_blank')
        .col-sm-10
          = f.select :dashboard, dashboard_choices, {}, class: 'form-control'
    .panel-footer
      = f.submit '保存', class: 'btn btn-save'
