#modal-remove-blob.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title 删除 #{@blob.name}
        %p.light
          来自分支
          %strong= @ref

      .modal-body
        = form_tag namespace_project_blob_path(@project.namespace, @project, @id), method: :delete, class: 'form-horizontal' do
          = render 'shared/commit_message_container', params: params,
                   placeholder: '删除文件原因...'
          .form-group
            .col-sm-2
            .col-sm-10
              = button_tag '删除文件', class: 'btn btn-remove btn-remove-file'
              = link_to "取消", '#', class: "btn btn-cancel", "data-dismiss" => "modal"

:javascript
  disableButtonIfEmptyField('#commit_message', '.btn-remove-file')
