- page_title "提交统计"
= render 'head'

%p.lead
  提交统计
  %strong #{@repository.root_ref}
  #{@commits_graph.start_date.strftime('%m-%d')} - #{@commits_graph.end_date.strftime('%m-%d')}

.row
  .col-md-6
    %ul
      %li
        %p.lead
          %strong #{@commits_graph.commits.size}
          次提交花费
          %strong #{@commits_graph.duration}
          天
      %li
        %p.lead
          平均每天
          %strong #{@commits_graph.commit_per_day}
          次提交
      %li
        %p.lead
          贡献者
          %strong #{@commits_graph.authors}
          人
  .col-md-6
    %div
      %p.slead
        每月按天提交数
      %canvas#month-chart{width: 800, height: 400}
.row
  .col-md-6
    %div
      %p.slead
        每天按小时提交数 (UTC)
      %canvas#hour-chart{width: 800, height: 400}
  .col-md-6
    %div
      %p.slead
        每周按天提交数
      %canvas#weekday-chart{width: 800, height: 400}

:coffeescript
  data = {
    labels : #{@commits_per_time.keys.to_json},
    datasets : [{
      fillColor : "rgba(220,220,220,0.5)",
      strokeColor : "rgba(220,220,220,1)",
      pointColor : "rgba(220,220,220,1)",
      pointStrokeColor : "#EEE",
      data : #{@commits_per_time.values.to_json}
    }]
  }

  ctx = $("#hour-chart").get(0).getContext("2d");
  new Chart(ctx).Line(data,{"scaleOverlay": true, responsive: true, pointHitDetectionRadius: 2})

  data = {
    labels : #{@commits_per_week_days.keys.to_json},
    datasets : [{
      fillColor : "rgba(220,220,220,0.5)",
      strokeColor : "rgba(220,220,220,1)",
      pointColor : "rgba(220,220,220,1)",
      pointStrokeColor : "#EEE",
      data : #{@commits_per_week_days.values.to_json}
    }]
  }

  ctx = $("#weekday-chart").get(0).getContext("2d");
  new Chart(ctx).Line(data,{"scaleOverlay": true, responsive: true, pointHitDetectionRadius: 2})

  data = {
    labels : #{@commits_per_month.keys.to_json},
    datasets : [{
      fillColor : "rgba(220,220,220,0.5)",
      strokeColor : "rgba(220,220,220,1)",
      pointColor : "rgba(220,220,220,1)",
      pointStrokeColor : "#EEE",
      data : #{@commits_per_month.values.to_json}
    }]
  }

  ctx = $("#month-chart").get(0).getContext("2d");
  new Chart(ctx).Line(data, {"scaleOverlay": true, responsive: true, pointHitDetectionRadius: 2})
