- project = project || @project
.git-clone-holder.input-group
  .input-group-addon.git-protocols
    .input-group-btn
      %button{ |
        class: "btn btn-sm #{ 'active' if default_clone_protocol == 'ssh' }#{ ' has_tooltip' if current_user && current_user.require_ssh_key? }", |
        :"data-clone" => project.ssh_url_to_repo, |
        :"data-title" => "在个人资料中增加 SSH 密钥<br>然后再使用 SSH 拉取和推送",
        :"data-html" => "true",
        :"data-container" => "body"}
        SSH
    .input-group-btn
      %button{ |
        class: "btn btn-sm #{ 'active' if default_clone_protocol == 'http' }#{ ' has_tooltip' if current_user && current_user.require_password? }", |
        :"data-clone" => project.http_url_to_repo, |
        :"data-title" => "在账户中设置密码<br>然后再使用 #{gitlab_config.protocol.upcase} 拉取和推送",
        :"data-html" => "true",
        :"data-container" => "body"}
        = gitlab_config.protocol.upcase
  = text_field_tag :project_clone, default_url_to_repo(project), class: "js-select-on-focus form-control input-sm", readonly: true
  - if project.kind_of?(Project) && project.empty_repo?
    .input-group-addon
      .visibility-level-label.has_tooltip{'data-title' => "#{visibility_level_label(project.visibility_level)}项目" }
        = visibility_level_icon(project.visibility_level)
        = visibility_level_label(project.visibility_level).downcase
