- Gitlab::VisibilityLevel.values.each do |level|
  .radio
    - restricted = restricted_visibility_levels.include?(level)
    = form.label "#{model_method}_#{level}" do
      = form.radio_button model_method, level, checked: (selected_level == level), disabled: restricted
      = visibility_level_icon(level)
      .option-title
        = visibility_level_label(level)
      .option-descr
        = visibility_level_description(level, form_model)
- unless restricted_visibility_levels.empty?
  .col-sm-10
    %span.info
      一些可见等级已被管理员限制。
