- page_title "标记的项目"
.explore-trending-block
  %p.lead
    %i.fa.fa-star
    查看最多标记的项目
  %hr
  .public-projects
    %ul.bordered-list
      = render @starred_projects

  = paginate @starred_projects, theme: 'gitlab'
