%ul.nav.nav-tabs
  = nav_link(html_options: {class: params[:id] == 'home' ? 'active' : '' }) do
    = link_to '主页', namespace_project_wiki_path(@project.namespace, @project, :home)

  = nav_link(path: 'wikis#pages') do
    = link_to '页面', pages_namespace_project_wikis_path(@project.namespace, @project)

  = nav_link(path: 'wikis#git_access') do
    = link_to git_access_namespace_project_wikis_path(@project.namespace, @project) do
      %i.fa.fa-download
      Git 访问权限

  - if can?(current_user, :write_wiki, @project)
    .pull-right
      = link_to '#modal-new-wiki', class: "add-new-wiki btn btn-new", "data-toggle" => "modal" do
        %i.fa.fa-plus
        新页面

= render 'projects/wikis/new'
