%div#bitbucket_import_modal.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 从 Bitbucket 导入项目
      .modal-body
        要开启从 Bitbucket 导入项目，
        - if current_user.admin?
          需要
        - else
          需要 GitLab 管理员
        == #{link_to '设置 OAuth 集成', 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/integration/bitbucket.md'}.
