- if issuable.errors.any?
  .row
    .col-sm-10.col-sm-offset-2
      .alert.alert-danger
        - issuable.errors.full_messages.each do |msg|
          %span= msg
          %br
.form-group
  = f.label :title, class: 'control-label' do
    %strong= '标题 *'
  .col-sm-10
    = f.text_field :title, maxlength: 255, autofocus: true,
        class: 'form-control pad js-gfm-input', required: true

    - if issuable.is_a?(MergeRequest)
      %p.help-block
        - if issuable.work_in_progress?
          从标题中删除 <code>WIP</code> 前缀表示允许此标记为
          <strong>正在处理中</strong> 的合并请求已准备好可以被接受。
        - else
          标题以 <code>[WIP]</code> 或 <code>WIP:</code> 开头将合并请求标记为
          <strong>正在处理中</strong> 表示其还未准备好可以接受合并。
.form-group.issuable-description
  = f.label :description, '描述', class: 'control-label'
  .col-sm-10

    = render layout: 'projects/md_preview', locals: { preview_class: "wiki", referenced_users: true } do
      = render 'projects/zen', f: f, attr: :description,
                               classes: 'description form-control'
      .col-sm-12.hint
        .pull-left
          被解析为
          #{link_to 'GitLab 特色 Markdown', help_page_path('markdown', 'markdown'), target: '_blank'} 格式。
        .pull-right
          可以拖放或#{link_to '选择文件', '#', class: 'markdown-selector' }来附加图片(JPG, PNG, GIF)。

      .clearfix
      .error-alert
%hr
.form-group
  .issue-assignee
    = f.label :assignee_id, class: 'control-label' do
      %i.fa.fa-user
      指派给
    .col-sm-10
      = users_select_tag("#{issuable.class.model_name.param_key}[assignee_id]",
          placeholder: '选择用户', class: 'custom-form-control', null_user: true,
          selected: issuable.assignee_id, project: @target_project || @project)
      &nbsp;
      = link_to '指派给自己', '#', class: 'btn assign-to-me-link'
.form-group
  .issue-milestone
    = f.label :milestone_id, class: 'control-label' do
      %i.fa.fa-clock-o
      里程碑
    .col-sm-10
      - if milestone_options(issuable).present?
        = f.select(:milestone_id, milestone_options(issuable),
          { include_blank: '选择里程碑' }, { class: 'select2' })
      - else
        .prepend-top-10
        %span.light 没有可用的未关闭里程碑。
      &nbsp;
      - if can? current_user, :admin_milestone, issuable.project
        = link_to '创建新的里程碑', new_namespace_project_milestone_path(issuable.project.namespace, issuable.project), target: :blank
.form-group
  = f.label :label_ids, class: 'control-label' do
    %i.fa.fa-tag
    标签
  .col-sm-10
    - if issuable.project.labels.any?
      = f.collection_select :label_ids, issuable.project.labels.all, :id, :name,
        { selected: issuable.label_ids }, multiple: true, class: 'select2'
    - else
      .prepend-top-10
      %span.light 没有标签。
    &nbsp;
    - if can? current_user, :admin_label, issuable.project
      = link_to '创建新的标签', new_namespace_project_label_path(issuable.project.namespace, issuable.project), target: :blank

- if issuable.is_a?(MergeRequest)
  %hr
    - if @merge_request.new_record?
      .form-group
        = f.label :source_branch, class: 'control-label' do
          %i.fa.fa-code-fork
          来源分支
        .col-sm-10
          = f.select(:source_branch, [@merge_request.source_branch], { }, { class: 'source_branch select2 span2', disabled: true })
  .form-group
    = f.label :target_branch, class: 'control-label' do
      %i.fa.fa-code-fork
      目标分支
    .col-sm-10
      = f.select(:target_branch, @merge_request.target_branches, { include_blank: "选择分支" }, { class: 'target_branch select2 span2', disabled: @merge_request.new_record? })
      - if @merge_request.new_record?
        %p.help-block
        = link_to '修改分支', mr_change_branches_path(@merge_request)

.form-actions
  - if !issuable.project.empty_repo? && (guide_url = contribution_guide_url(issuable.project)) && !issuable.persisted?
    %p
      请先阅读本版本仓库的
      %strong #{link_to '贡献指导原则', guide_url}
      。
  - if issuable.new_record?
    = f.submit "提交新的 #{issuable.class.model_name.human.downcase}", class: 'btn btn-create'
  - else
    = f.submit '保存修改', class: 'btn btn-save'
  - if issuable.new_record?
    - cancel_project = issuable.source_project
  - else
    - cancel_project = issuable.project
  = link_to '取消', [cancel_project.namespace.becomes(Namespace), cancel_project, issuable], class: 'btn btn-cancel'
