%ul.nav.nav-tabs
  %li.active
    = link_to '#tab-activity', 'data-toggle' => 'tab' do
      = icon("tachometer")
      活动
  - if @repository.readme
    %li
      = link_to '#tab-readme', 'data-toggle' => 'tab' do
        = icon("file-text-o")
        Readme
.tab-content
  .tab-pane.active#tab-activity
    .hidden-xs
      = render "events/event_last_push", event: @last_push

      - if current_user
        %ul.nav.nav-pills.event_filter.pull-right
          %li
            = link_to namespace_project_path(@project.namespace, @project, format: :atom, private_token: current_user.private_token), title: "动态", class: 'rss-btn' do
              %i.fa.fa-rss

      = render 'shared/event_filter'
      %hr
    .content_list
    = spinner

  - if readme = @repository.readme
    .tab-pane#tab-readme
      %article.readme-holder#README
        .clearfix
          %small.pull-right
            = link_to namespace_project_blob_path(@project.namespace, @project, tree_join(@repository.root_ref, readme.name)), class: 'light' do
              %i.fa.fa-file
              = readme.name
        .wiki
          = render_readme(readme)
