- if current_user && can?(current_user, :download_code, @project)
  = render 'shared/no_ssh'
  = render 'shared/no_password'

= render "home_panel"

.center.well
  %h3
    此项目的版本仓库是空的
  %h4
    可以
    = link_to namespace_project_new_blob_path(@project.namespace, @project, 'master'), class: 'btn btn-new btn-lg' do
      增加一个文件
    &nbsp;或者在命令行推送

.well
  = render "shared/clone_panel"
%h4
  %strong 命令行指令
%div.git-empty
  %fieldset
    %legend Git 全局设置
    %pre.dark
      :preserve
        git config --global user.name "#{git_user_name}"
        git config --global user.email "#{git_user_email}"

  %fieldset
    %legend 创建新版本库
    %pre.dark
      :preserve
        git clone #{ content_tag(:span, default_url_to_repo, class: 'clone')}
        cd #{@project.path}
        touch README.md
        git add README.md
        git commit -m "add README"
        git push -u origin master

  %fieldset
    %legend 已存在的文件夹或 Git 仓库
    %pre.dark
      :preserve
        cd existing_folder
        git init
        git remote add origin #{ content_tag(:span, default_url_to_repo, class: 'clone')}
        git push -u origin master

- if can? current_user, :remove_project, @project
  .prepend-top-20
    = link_to '删除项目', [@project.namespace.becomes(Namespace), @project], data: { confirm: remove_project_message(@project)}, method: :delete, class: "btn btn-remove pull-right"
