= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, namespace_project_path(@project.namespace, @project, format: :atom, private_token: current_user.private_token), title: "#{@project.name} 活动")

- if current_user && can?(current_user, :download_code, @project)
  = render 'shared/no_ssh'
  = render 'shared/no_password'

= render "home_panel"
= render 'shared/show_aside'

.row
  %section.col-md-8
    = render 'section'
  %aside.col-md-4.project-side
    = render 'aside'
