- page_title "标签"
= render "projects/commits/head"

%h3.page-title
  Git 标签
  - if can? current_user, :push_code, @project
    .pull-right
      = link_to new_namespace_project_tag_path(@project.namespace, @project), class: 'btn btn-create new-tag-btn' do
        %i.fa.fa-add-sign
        新标签

%p.light
  标签用于标记历史重要版本
%hr

.tags
  - unless @tags.empty?
    %ul.bordered-list
      - @tags.each do |tag|
        = render 'tag', tag: @repository.find_tag(tag)

    = paginate @tags, theme: 'gitlab'

  - else
    .nothing-here-block
      版本库没有标签。
      %br
      %small
        使用 git tag 命令增加标签：
        %br
        %span.monospace git tag -a v1.4 -m 'version 1.4'
