- page_title "新标签"
- if @error
  .alert.alert-danger
    %button{ type: "button", class: "close", "data-dismiss" => "alert"} &times;
    = @error
%h3.page-title
  %i.fa.fa-code-fork
  新标签
= form_tag namespace_project_tags_path, method: :post, id: "new-tag-form", class: "form-horizontal" do
  .form-group
    = label_tag :tag_name, '新标签名称', class: 'control-label'
    .col-sm-10
      = text_field_tag :tag_name, params[:tag_name], placeholder: 'v3.0.1', required: true, tabindex: 1, class: 'form-control'
  .form-group
    = label_tag :ref, '创建自', class: 'control-label'
    .col-sm-10
      = text_field_tag :ref, params[:ref], placeholder: 'master', required: true, tabindex: 2, class: 'form-control'
      .light 分支名称或提交 SHA
  .form-group
    = label_tag :message, '信息', class: 'control-label'
    .col-sm-10
      = text_field_tag :message, nil, placeholder: '输入信息。', required: false, tabindex: 3, class: 'form-control'
      .light (可选) 输入创建标签的信息。
  .form-actions
    = button_tag '创建标签', class: 'btn btn-create', tabindex: 3
    = link_to '取消', namespace_project_tags_path(@project.namespace, @project), class: 'btn btn-cancel'

:javascript
  disableButtonIfAnyEmptyField($("#new-tag-form"), ".form-control", ".btn-create");
  var availableTags = #{@project.repository.ref_names.to_json};

  $("#ref").autocomplete({
    source: availableTags,
    minLength: 1
  });
