- page_title "日志"
- loggers = [Gitlab::GitLogger, Gitlab::AppLogger,
             Gitlab::ProductionLogger, Gitlab::SidekiqLogger]
%ul.nav.nav-tabs.log-tabs
  - loggers.each do |klass|
    %li{ class: (klass == Gitlab::GitLogger ? 'active' : '') }
      = link_to klass::file_name, "##{klass::file_name_noext}",
          'data-toggle' => 'tab'
%p.light 为了防止性能问题管理日志只输出最后的 2000 行
.tab-content
  - loggers.each do |klass|
    .tab-pane{ class: (klass == Gitlab::GitLogger ? 'active' : ''),
        id: klass::file_name_noext }
      .file-holder#README
        .file-title
          %i.fa.fa-file
          = klass::file_name
          .pull-right
            = link_to '#', class: 'log-bottom' do
              %i.fa.fa-arrow-down
              向下滚动
        .file-content.logs
          %ol
            - klass.read_latest.each do |line|
              %li
                %p= line
