.mr-state-widget
  = render 'projects/merge_requests/widget/heading'
  .mr-widget-body
    %h4
      已关闭
      - if @merge_request.closed_event
        由 #{link_to_member(@project, @merge_request.closed_event.author, avatar: true)}
        #{time_ago_with_tooltip(@merge_request.closed_event.created_at)}
    %p 变更未合并到目标分支
