- if @merge_request.has_ci?
  .mr-widget-heading
    .ci_widget.ci-success{style: "display:none"}
      = icon("check")
      #{@merge_request.last_commit_short_sha} 的
      %span CI 构建通过。
      = link_to "查看构建页面", ci_build_details_path(@merge_request), :"data-no-turbolink" => "data-no-turbolink"

    .ci_widget.ci-failed{style: "display:none"}
      = icon("times")
      #{@merge_request.last_commit_short_sha} 的
      %span CI 构建失败。
      = link_to "查看构建页面", ci_build_details_path(@merge_request), :"data-no-turbolink" => "data-no-turbolink"

    - [:running, :pending].each do |status|
      .ci_widget{class: "ci-#{status}", style: "display:none"}
        = icon("clock-o")
        #{@merge_request.last_commit_short_sha} 的
        %span CI 构建 #{status}。
        = link_to "查看构建页面", ci_build_details_path(@merge_request), :"data-no-turbolink" => "data-no-turbolink"

    .ci_widget
      = icon("spinner spin")
      正在检查 #{@merge_request.last_commit_short_sha} 的构建状态

    .ci_widget.ci-canceled{style: "display:none"}
      = icon("times")
      #{@merge_request.last_commit_short_sha} 的
      %span CI 构建已被取消。
      = link_to "查看构建页面", ci_build_details_path(@merge_request), :"data-no-turbolink" => "data-no-turbolink"

    .ci_widget.ci-error{style: "display:none"}
      = icon("times")
      %span 无法连接到 CI 服务器。请检查相关设置并重试。

  :coffeescript
    $ ->
      merge_request_widget.getCiStatus()
