%li
  %h4.snippet-title
    = link_to reliable_snippet_path(snippet) do
      = truncate(snippet.title, length: 60)
    %span.cgray.monospace.tiny.pull-right
      = snippet.file_name

  .snippet-info
    = "##{snippet.id}"
    %span
      属于
      = image_tag avatar_icon(snippet.author_email), class: "avatar avatar-inline s16"
      = snippet.author_name
      %span.light
        #{time_ago_with_tooltip(snippet.created_at)}
