- page_title "网络", @ref
= render "head"
.project-network
  .controls
    = form_tag namespace_project_network_path(@project.namespace, @project, @id), method: :get, class: 'form-inline network-form' do |f|
      = text_field_tag :extended_sha1, @options[:extended_sha1], placeholder: "输入扩展 SHA1 语法", class: 'search-input form-control input-mx-250 search-sha'
      = button_tag class: 'btn btn-success btn-search-sha' do
        %i.fa.fa-search
      .inline.prepend-left-20
        .checkbox.light
          = label_tag :filter_ref do
            = check_box_tag :filter_ref, 1, @options[:filter_ref]
            %span 从选择的提交开始

  .network-graph
    = spinner nil, true

:javascript
  disableButtonIfEmptyField('#extended_sha1', '.btn-search-sha')

  network_graph = new Network({
    url: '#{namespace_project_network_path(@project.namespace, @project, @ref, @options.merge(format: :json))}',
    commit_url: '#{namespace_project_commit_path(@project.namespace, @project, 'ae45ca32').gsub("ae45ca32", "%s")}',
    ref: '#{@ref}',
    commit_id: '#{@commit.id}'
  })
  new ShortcutsNetwork(network_graph.branch_graph)
