- page_title "GitHub 导入"
%h3.page-title
  %i.fa.fa-github
  从 GitHub 导入项目

%p.light
  选择要导入的项目。
%hr
%p
  = button_tag '导入所有项目', class: "btn btn-success js-import-all"

%table.table.import-jobs
  %thead
    %tr
      %th 从 GitHub
      %th 到 GitLab
      %th 状态
  %tbody
    - @already_added_projects.each do |project|
      %tr{id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}"}
        %td
          = link_to project.import_source, "https://github.com/#{project.import_source}", target: "_blank"
        %td
          %strong= link_to project.path_with_namespace, [project.namespace.becomes(Namespace), project]
        %td.job-status
          - if project.import_status == 'finished'
            %span
              %i.fa.fa-check
              完成
          - elsif project.import_status == 'started'
            %i.fa.fa-spinner.fa-spin
            已开始
          - else
            = project.human_import_status_name

    - @repos.each do |repo|
      %tr{id: "repo_#{repo.id}"}
        %td
          = link_to repo.full_name, "https://github.com/#{repo.full_name}", target: "_blank"
        %td.import-target
          = repo.full_name
        %td.import-actions.job-status
          = button_tag "导入", class: "btn js-add-to-import"

:coffeescript
  new ImporterStatus("#{jobs_import_github_path}", "#{import_github_path}")
