%ul.breadcrumb.repo-breadcrumb
  %li
    = link_to namespace_project_tree_path(@project.namespace, @project, @ref) do
      = @project.path
  - tree_breadcrumbs(tree, 6) do |title, path|
    %li
      - if path
        = link_to truncate(title, length: 40), namespace_project_tree_path(@project.namespace, @project, path)
      - else
        = link_to title, '#'
  - if current_user && can_push_branch?(@project, @ref)
    %li
      = link_to namespace_project_new_blob_path(@project.namespace, @project, @id), title: '新文件', id: 'new-file-link' do
        %small
          %i.fa.fa-plus

%div#tree-content-holder.tree-content-holder
  %table#tree-slider{class: "table_#{@hex_path} tree-table" }
    %thead
      %tr
        %th 名称
        %th 最后更新
        %th.hidden-xs
          .pull-left 最后提交
          .last-commit.hidden-sm.pull-left
            &nbsp;
            %i.fa.fa-angle-right
            &nbsp;
            %small.light
              = link_to @commit.short_id, namespace_project_commit_path(@project.namespace, @project, @commit)
              &ndash;
              = truncate(@commit.title, length: 50)
          = link_to '历史', namespace_project_commits_path(@project.namespace, @project, @id), class: 'pull-right'

    - if @path.present?
      %tr.tree-item
        %td.tree-item-file-name
          = link_to "..", namespace_project_tree_path(@project.namespace, @project, up_dir_path), class: 'prepend-left-10'
        %td
        %td.hidden-xs

    = render_tree(tree)

  - if tree.readme
    = render "projects/tree/readme", readme: tree.readme

%div.tree_progress

:javascript
  // Load last commit log for each file in tree
  $('#tree-slider').waitForImages(function() {
    ajaxGet('#{@logs_path}');
  });
