%p
  您被
  - if inviter = @group_member.created_by
    = link_to inviter.name, user_url(inviter)
  邀请加入群组
  = link_to @group.name, group_url(@group)
  身份是 #{@group_member.human_access}。

%p
  = link_to '接受邀请', invite_url(@token)
  或者
  = link_to '拒绝', decline_invite_url(@token)

