%p
  您被
  - if inviter = @project_member.created_by
    = link_to inviter.name, user_url(inviter)
  邀请加入项目
  = link_to @project.name_with_namespace, namespace_project_url(@project.namespace, @project)
  身份是 #{@project_member.human_access}。

%p
  = link_to '接受邀请', invite_url(@token)
  或者
  = link_to '拒绝', decline_invite_url(@token)
