您被<%= " #{@project_member.created_by.name} " if @project_member.created_by %>邀请加入到项目 <%= @project.name_with_namespace %> 身份是 <%= @project_member.human_access %>。

接受邀请: <%= invite_url(@token) %>
拒绝邀请: <%= decline_invite_url(@token) %>
