- content_for :note_actions do
  - if can?(current_user, :modify_issue, @issue)
    - if @issue.closed?
      = link_to '重新打开问题', issue_path(@issue, issue: {state_event: :reopen}, status_only: true), method: :put, class: 'btn btn-grouped btn-reopen js-note-target-reopen', title: '重新打开问题'
    - else
      = link_to '关闭问题', issue_path(@issue, issue: {state_event: :close}, status_only: true), method: :put, class: 'btn btn-grouped btn-close js-note-target-close', title: '关闭问题'

= render 'shared/show_aside'

.row
  %section.col-md-9
    .votes-holder.pull-right
      #votes= render 'votes/votes_block', votable: @issue
    .participants
      %span= pluralize(@issue.participants(current_user).count, '个参与者', '个参与者')
      - @issue.participants(current_user).each do |participant|
        = link_to_member(@project, participant, name: false, size: 24)
    .voting_notes#notes= render 'projects/notes/notes_with_form'
  %aside.col-md-3
    .issuable-affix
      .clearfix
        %span.slead.has_tooltip{title: '交叉项目参考'}
          = cross_project_reference(@project, @issue)
      %hr
      .context
        = render partial: 'issue_context', locals: { issue: @issue }

      - if @issue.labels.any?
        .issuable-context-title
          %label 标签
        .issue-show-labels
          - @issue.labels.each do |label|
            = link_to_label(label)
