%div.issue-form-holder
  %h3.page-title= @issue.new_record? ? "新问题" : "编辑问题 ##{@issue.iid}"
  %hr

  = form_for [@project.namespace.becomes(Namespace), @project, @issue], html: { class: 'form-horizontal issue-form gfm-form' } do |f|
    = render 'projects/issuable_form', f: f, issuable: @issue

:javascript
  $('.assign-to-me-link').on('click', function(e){
    $('#issue_assignee_id').val("#{current_user.id}").trigger("change");
    e.preventDefault();
  });
