%li{ id: dom_id(issue), class: issue_css_classes(issue), url: issue_path(issue) }
  - if controller.controller_name == 'issues'
    .issue-check
      = check_box_tag dom_id(issue,"selected"), nil, false, 'data-id' => issue.id, class: "selected_issue", disabled: !can?(current_user, :modify_issue, issue)

  .issue-title
    %span.issue-title-text
      = link_to_gfm issue.title, issue_path(issue), class: "row_title"
    .issue-labels
      - issue.labels.each do |label|
        = link_to_label(label, project: issue.project)
    .pull-right.light
      - if issue.closed?
        %span
          已关闭
      - if issue.assignee
        = link_to_member(@project, issue.assignee, name: false)
      - note_count = issue.notes.user.count
      - if note_count > 0
        &nbsp;
        %span
          %i.fa.fa-comments
          = note_count
      - else
        &nbsp;
        %span.issue-no-comments
          %i.fa.fa-comments
          = 0

  .issue-info
    = "##{issue.iid} opened #{time_ago_with_tooltip(issue.created_at, 'bottom')} by #{link_to_member(@project, issue.author, avatar: false)}".html_safe
    - if issue.votes_count > 0
      = render 'votes/votes_inline', votable: issue
    - if issue.milestone
      &nbsp;
      %span
        %i.fa.fa-clock-o
        = issue.milestone.title
    - if issue.tasks?
      %span.task-status
        = issue.task_status

    .pull-right.issue-updated-at
      %small 更新时间 #{time_ago_with_tooltip(issue.updated_at, 'bottom', 'issue_update_ago')}
