%h3.page-title
  新合并请求
%p.slead
  从
  %strong.label-branch #{@merge_request.source_project_namespace}:#{@merge_request.source_branch}
  %span 合并到
  %strong.label-branch #{@merge_request.target_project_namespace}:#{@merge_request.target_branch}

  %span.pull-right
    = link_to '改变分支', mr_change_branches_path(@merge_request)
%hr
= form_for [@project.namespace.becomes(Namespace), @project, @merge_request], html: { class: 'merge-request-form form-horizontal gfm-form' } do |f|
  .merge-request-form-info
    = render 'projects/issuable_form', f: f, issuable: @merge_request
    = f.hidden_field :source_project_id
    = f.hidden_field :source_branch
    = f.hidden_field :target_project_id
    = f.hidden_field :target_branch

.mr-compare.merge-request
  %ul.nav.nav-tabs.merge-request-tabs
    %li.commits-tab
      = link_to url_for(params), data: {target: '#commits', action: 'commits', toggle: 'tab'} do
        = icon('history')
        提交
        %span.badge= @commits.size
    %li.diffs-tab
      = link_to url_for(params), data: {target: '#diffs', action: 'diffs', toggle: 'tab'} do
        = icon('list-alt')
        变更
        %span.badge= @diffs.size

  .tab-content
    #commits.commits.tab-pane
      = render "projects/commits/commits", project: @project
    #diffs.diffs.tab-pane
      - if @diffs.present?
        = render "projects/diffs/diffs", diffs: @diffs, project: @project
      - elsif @commits.size > MergeRequestDiff::COMMITS_SAFE_SIZE
        .alert.alert-danger
          %h4 此比较包含超过 #{MergeRequestDiff::COMMITS_SAFE_SIZE} 次提交。
          %p 为保证性能，行变更内容没有显示。
      - else
        .alert.alert-danger
          %h4 此比较包含巨大的差异。
          %p 为保证性能，行变更内容没有显示。

:javascript
  $('.assign-to-me-link').on('click', function(e){
    $('#merge_request_assignee_id').val("#{current_user.id}").trigger("change");
    e.preventDefault();
  });

:javascript
  var merge_request
  merge_request = new MergeRequest({
    action: 'new',
    diffs_loaded: true,
    commits_loaded: true
  });

