- page_title "#{@merge_request.title} (##{@merge_request.iid})", "合并请求"
.merge-request{'data-url' => merge_request_path(@merge_request)}
  .merge-request-details
    = render "projects/merge_requests/show/mr_title"
    %hr
    = render "projects/merge_requests/show/mr_box"
    %hr
    .append-bottom-20
      .slead
        %span 从
        - if @merge_request.for_fork?
          %strong.label-branch<
            - if @merge_request.source_project
              = link_to @merge_request.source_project_namespace, namespace_project_path(@merge_request.source_project.namespace, @merge_request.source_project)
            - else
              \ #{@merge_request.source_project_namespace}
            \:#{@merge_request.source_branch}
          %span 合并到
          %strong.label-branch #{@merge_request.target_project_namespace}:#{@merge_request.target_branch}
        - else
          %strong.label-branch #{@merge_request.source_branch}
          %span 合并到
          %strong.label-branch #{@merge_request.target_branch}
        - if @merge_request.open?
          .btn-group.btn-group-sm.pull-right
            %a.btn.btn-sm.dropdown-toggle{ data: {toggle: :dropdown} }
              = icon('download')
              下载为
              %span.caret
            %ul.dropdown-menu
              %li= link_to "电子邮件补丁", merge_request_path(@merge_request, format: :patch)
              %li= link_to "差异文件",    merge_request_path(@merge_request, format: :diff)

    = render "projects/merge_requests/show/how_to_merge"
    = render "projects/merge_requests/widget/show.html.haml"

  - if @commits.present?
    %ul.nav.nav-tabs.merge-request-tabs
      %li.notes-tab
        = link_to namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: {target: '#notes', action: 'notes', toggle: 'tab'} do
          = icon('comments')
          讨论
          %span.badge= @merge_request.mr_and_commit_notes.user.count
      %li.commits-tab
        = link_to commits_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: {target: '#commits', action: 'commits', toggle: 'tab'} do
          = icon('history')
          提交
          %span.badge= @commits.size
      %li.diffs-tab
        = link_to diffs_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), data: {target: '#diffs', action: 'diffs', toggle: 'tab'} do
          = icon('list-alt')
          变更
          %span.badge= @merge_request.diffs.size

  .tab-content
    #notes.notes.tab-pane.voting_notes
      = render "projects/merge_requests/discussion"
    #commits.commits.tab-pane
      = render "projects/merge_requests/show/commits"
    #diffs.diffs.tab-pane
      - if current_page?(action: 'diffs')
        = render "projects/merge_requests/show/diffs"

  .mr-loading-status
    = spinner


:javascript
  var merge_request;

  merge_request = new MergeRequest({
    action: "#{controller.action_name}"
  });
