!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_mars.login-page.application
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        .row.prepend-top-20
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            %h1
              = brand_title
            - if brand_item
              = brand_image
              = brand_text
            - else
              %h3 用于代码协作的开源软件

              %p
                细粒度访问控制管理 git 仓库以保证代码安全。
                使用合并请求进行代码审查并加强团体合作。
                每个项目均有自己的问题跟踪和维基页面。

            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)

    %hr
    .container
      .footer-links
        = link_to "浏览", explore_root_path
        = link_to "文档", "http://doc.gitlab.com/"
        = link_to "关于 GitLab", "https://about.gitlab.com/"
        = link_to "中文", "https://gitlab.com/larryli/gitlab/"
